<div class="login-wrapper app" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" name="email" [(ngModel)]="email" required>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log me in</button>
        <br><br>
        <a style="padding-left: 70px;" href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&client_id=1058325697473-trm8ojpitnaomh3ina07voqe17kvjcq7.apps.googleusercontent.com&prompt=consent&redirect_uri=https://urlll.xyz/auth/google&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile">
          <img src="assets/google.png">
        </a>
        <br><br>
        <p routerLink="/register" routerLinkActive="active" style="
        text-align: right;
        font-size: 16px;
        padding-top: 10px;
        color: #3f3dca;
        cursor: pointer;
        margin: 0;">
        Wanna create an account? Signup</p>
      </form>
    </mat-card>
  
  </div>
  <app-footer></app-footer>