<!-- <md-content class="demo-section" md-scroll-y layout="column" flex>
    <footer class="md-padding">
      <br>
      Made during quarantine by <a style="color: #BED482;" href="https://ashwin.engineer/" target="_blank">Ashwin</a>
    </footer>
  </md-content> -->



  <!-- Footer -->
<footer class="page-footer font-small bg-primary">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-2" style="font-weight: 500; background-color:#4285F4;">Made during quarantine by <br>
    <a href="https://ashwin.engineer/" target="_blank"> Ashwin T</a> &  <a href="https://gokulranjith.web.app/" target="_blank"> Gokul Ranjith S</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->