<div class="login-wrapper" style="overflow: hidden !important;" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box2">
    <mat-card-header>
      <mat-card-title>{{data.bigHeading}}</mat-card-title>
    </mat-card-header>
    <br>

    <form class="example-form" style="overflow: hidden !important;">
      <mat-card-content style="overflow: overlay !important;">
        <mat-form-field style="width: 300px;">
          <mat-label>{{data.heading}}</mat-label>
          <textarea matInput id="text" name="text" [(ngModel)]="data.text" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" readonly></textarea>
        </mat-form-field>
      </mat-card-content>
      <br><br>
      <button mat-stroked-button color="accent" class="btn-block" (click)="copyToClipboard()">{{data.button}}</button>
    </form>
  </mat-card>

</div>