<div class="login-wrapper" style="overflow: hidden !important;" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box2">
    <mat-card-header>
      <mat-card-title>Collection</mat-card-title>
    </mat-card-header>
    <br>

    <form class="example-form" style="overflow: hidden !important;">
      <mat-card-content style="overflow: overlay !important;">
 
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" name="name" [(ngModel)]="name" (ngModelChange)="this.collectionNameUpdate.next($event)" required>
          </mat-form-field>
          <div *ngIf="name?.length > 0 && apiCallInProgress === true" style="
            position: fixed;
            left: 175px;
            top: 190px;
            width: 8%;
            height: 6%;" class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <p *ngIf="name?.length > 0 && isAvailable === true"
            style="background-color: #47e073;">
            urlll.xyz/collections/{{name}} is available
          </p>
          <p *ngIf="name?.length > 0 && isAvailable === false"
            style="background-color: #ea4848;color: white;">
            urlll.xyz/collections/{{name}} is not available
          </p>
          <p *ngIf="name?.length < 1" style="background-color: #7E9E7D;">
            Tip: If you have entered myProjects, your collection url will be like urlll.xyz/collections/myProjects
          </p>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Title" name="title" [(ngModel)]="title" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Description" name="description" [(ngModel)]="description" required>
          </mat-form-field>
          Selected Short Url's:
          <li *ngFor="let item of data.urlIds; let i = index">
            urlll.xyz/{{data.shortUrls[i]}}
          </li>
          <!-- <textarea matInput id="text" name="text" [(ngModel)]="data.urlIds" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" readonly></textarea> -->
      </mat-card-content>
      <br><br>
      <button mat-stroked-button color="accent" class="btn-block" (click)="submit()">Create Collection</button>
    </form>
  </mat-card>

</div>