<div class="login-wrapper" style="overflow: hidden !important;" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box2">
    <mat-card-header>
      <mat-card-title>Copy your Kutty URL</mat-card-title>
    </mat-card-header>
    <br>

    <form class="example-form" style="overflow: hidden !important;">
      <mat-card-content style="overflow: overlay !important;">
        <mat-form-field style="width: 300px;">
          <mat-label>Short URL</mat-label>
          <textarea matInput id="shortUrl" name="shortUrl" [(ngModel)]="data.shortUrl" cdkTextareaAutosize
            #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" readonly></textarea>
        </mat-form-field>
      </mat-card-content>
      <br>
      <button mat-stroked-button color="accent" class="btn-block" (click)="copyToClipboard()">Copy to Clipboard</button>
      <br><br>
      <button mat-stroked-button color="accent" class="btn-block" (click)="onNoClick()">Close</button>
    </form>
    <br>
    <div style="padding: 8px">
      <a href="https://wa.me/?text=Hey, can you please checkout this link {{data.shortUrl}}" target="_blank"><img src="assets/whatsapp.png" height="63px" width="63px"></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{data.shortUrl}}" target="_blank"><img src="assets/facebook.png" height="63px" width="63px"></a>
      <a href="https://twitter.com/share?url={{data.shortUrl}}&text=Hey guys, can you checkout this link" target="_blank"><img src="assets/twitter.png" height="63px" width="63px"></a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{data.shortUrl}}&title=&summary=&source=LinkedIn" target="_blank"><img src="assets/linkedin.png" height="63px" width="63px"></a>
    </div>
  </mat-card>

</div>