<!-- <div class="login-wrapper profile">
    <div class="container">
      <br> <br> <br> <br>
  
      <br>
      <br>
      <div class="row">
        <div class="col-md-4" *ngFor="let item of urlList; let i = index">
          <mdb-card cascade="true" narrower="true">
            <mdb-card-body cascade="true" class="text-center" style="background-color: #EEEEEE;">
              <h5 class="pink-text">
                
              </h5>
              <h4 class="card-title">{{urlList[i].collection_title}}</h4>
              <mdb-card-text>
                {{urlList[i].collection_description}}
              </mdb-card-text>
              <mdb-card-text>
              <a href="https://url-shortener--api.herokuapp.com/collections/{{urlList[i].collection_name}}" target="_blank">url-shortener--api.herokuapp.com/collections/{{urlList[i].collection_name}}</a>
              </mdb-card-text>
              <h6>Total clicks:  {{urlList[i].collection_clicks}}</h6>
              <mdb-card-text>
                <small class="text-muted">Created:  {{urlList[i].collection_created_at | date: 'short'}}</small>
              </mdb-card-text>
            </mdb-card-body>
          </mdb-card>
          <br>
        </div>
      </div>
    </div>
    
  </div> -->

  <div class="container">
    <main class="grid">                                                                                                                                       
      <article *ngFor="let item of urlList; let i = index">
        <div class="text" >
          <h6 class="title_cls">{{urlList[i].collection_title}}</h6>
          <p class="meta_data">
            {{urlList[i].collection_description}}
          </p>
          <p class="url">
            <a href="https://url-shortener--api.herokuapp.com/collections/{{urlList[i].collection_name}}" target="_blank">url-shortener--api.herokuapp.com/collections/{{urlList[i].collection_name}}</a>
          </p>
          <p >Total clicks:  {{urlList[i].collection_clicks}}</p>
          <p >Created:  {{urlList[i].collection_created_at | date: 'short'}}</p>
        </div>

      </article>
    </main>
  </div>
<app-footer></app-footer>
